<header>
    <nav style="width: 100%;height: 10vh;background-color: rgb(131, 120, 120); justify-content: space-evenly; display: flex; align-items: center !important; padding-top: 0.05px; padding-left: 10px !important;">
        <div>
            <font style="color: white; font-weight: 10;"><strong>BUSIA MUSLIM COUNCIL <i class="fab fa-free-code-camp" style="font-size: 30px;"></i></strong></font> 
        </div>
        <div>
            <font style="color: white; font-weight: 10;">
                <a href="" style="color: white;">About</a> <a href="" style="color: white;margin-left: 10px;">Conatct</a> <a href="" style="color: white;margin-left: 10px;">Potforlio</a>
            </font> 
        </div>
        <div>
            <small style="color: white;color: black;"><i class="fab fa-facebook" style="color: white;"></i></small>
            <small style="color: white;color: black;"><i class="fab fa-instagram" style="color: white;"></i></small>
            <small style="color: white;color: black;"><i class="fab fa-twitter" style="color: white;"></i></small>
            <small style="color: white;color: black;"><i class="fab fa-pinterest" style="color: white;"></i></small>
            <small style="color: white;color: black;"><i class="fab fa-linkedin" style="color: white;"></i></small>
        </div>
    </nav>
</header>