<header>
    <nav style="width: 100%;height: 10vh;background-color: black; justify-content: space-evenly; display: flex; align-items: center !important; padding-top: 0.05px; padding-left: 10px !important;">
        <div>
            <font style="color: white; font-weight: 10;">SYSTEM API </font> 
        </div>
        <div>
            <small style="color: white;color: gray;">Build by Abdulaziz Olinga Said</small>
        </div>
    </nav>
</header>