<main>
    <br>
    <div class="container row">
     <div class="col-sm-8 col-md-8 col-lg-8">
            <h3>welcome to system app API ..</h3>
        <P><small>The best crud api i have ever built before ,, enjoy all crud operation with systemapp api</small></P>
        <h3>API overview</h3>
        <div style="width: 100%;height: auto;border: 1px solid gray;padding: 20px;">
            <font><strong>End points list</strong></font> <br>
            <hr>
            <p><strong>Get all data :</strong> <br>
           <small style="color: green;"> Method GET/</small> <br>
             <font style="color: gray;">https://systemappapi.herokuapp.com/api </font></p>
            
            <p><strong>Post data :</strong> <br>
            <small style="color: green;">Method POST/</small> <br>
            <font style="color: gray;">https://systemappapi.herokuapp.com/api/add </font> </p>

            <p><strong>Get single data :</strong> <br>
            <small style="color: green;">Method GET/ </small> <br>
            <font style="color: gray;">https://systemappapi.herokuapp.com/api/:id</font>  </p>

            <p><strong>Update data :</strong><br>
           <small style="color: green;"> Method PATCH/</small> <br> 
            <font style="color: gray;">https://systemappapi.herokuapp.com/api/update/:id </font> </p>

            <p><strong>Delete data :</strong><br>
            <small style="color: green;">Method DELETE/</small> <br>
            <font style="color: gray;">https://systemappapi.herokuapp.com/api/delete/:id </font> </p>
        </div>
     </div>
     <div class="col-sm-4 col-md-4 col-lg-4">
         <div class="container">
             <br>
            <strong>All data</strong>
            <font style="color: gray;">https://systemappapi.herokuapp.com/api </font>
            <br>
            <br>
            <div>
                <p>
[ <br>
 <font style="color: white;"> ..</font> {<br>
  <font style="color: white;">... ..</font>   "_id": "61c4c1b2182d3ceb1fc7eba4",<br>
 <font style="color: white;">... ..</font>   "name": "abdulaziz",<br>
  <font style="color: white;">... ..</font>  "category": "javascript developer",<br>
  <font style="color: white;">... ..</font>  "status": "professional",<br>
  <font style="color: white;">... ..</font>  "__v": 0<br>
  },<br>
  <font style="color: white;"> ..</font> {<br>
   <font style="color: white;">... ..</font> "_id": "61c4c1ee182d3ceb1fc7eba7",<br>
   <font style="color: white;">... ..</font> "name": "zuleikha muhammad",<br>
   <font style="color: white;">... ..</font> "category": "python developer",<br>
  <font style="color: white;">... ..</font>  "status": "intermidiate",<br>
  <font style="color: white;">... ..</font>  "__v": 0<br>
  },<br>
  <font style="color: white;"> ..</font> {<br>
  <font style="color: white;">... ..</font>  "_id": "61c4c207182d3ceb1fc7eba9",<br>
  <font style="color: white;">... ..</font>  "name": "ali hassan",<br>
   <font style="color: white;">... ..</font> "category": "dart developer",<br>
   <font style="color: white;">... ..</font> "status": "professional",<br>
  <font style="color: white;">... ..</font>  "__v": 0<br>
  },<br>

]
                </p>
            </div>
         </div>
     </div>
    </div>
</main>